.header-color {
	background-color: #1b262c !important;
    color: white;
}

.logo-background {
	position: fixed;
	top: 50%;
	left: 50%; 
	transform: translate(-50%, -50%); 
	width: 400px;
	height: 400px;
	background-image: url("./Cupboard_Logo_lightmode.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	filter: none;
	opacity: 1;
	z-index: 0;
  }
  

.primary-color {
	background-color: #0f4c75 !important;
	color: white;
}

.secondary-color {
	background-color: #3282b8 !important;
}

.sub-color {
	background-color: #bbe1fa !important;
}
